


    
<section id="lairPage">
    <h2 class="allH2">Lair listings</h2>
    
<div class="allFlex">
{{#each foundRooms}}

<div class="allDiv">
<h3 id="allH3">{{name}}</h3>
<img class = "mainlairs" src="{{imageUrl}}" alt="Room Image">
<p class="allWords">Posted by: {{owner.userName}}</p>
<p class="allWords">Description: {{description}}</p>
    <a class="allWords alllink" href="/lairs/details/{{_id}}">See details</a>
    </div>
    

{{/each}}
</div>
</section>

