<section id="lairdetail">
<h3>{{name}}</h3>
<img class = "specificPic" src="{{imageUrl}}" alt="Room Image">
<p>Posted by: {{owner.userName}}</p>
<p>{{description}}</p>
<p class="detailprice">${{price}} night</p>





<a href="/lairs/edit/{{_id}}"><button>Edit</button></a>

<a href="/lairs/delete/{{_id}}"><button>Delete</button></a>

<a href="/lairs/book/{{_id}}"><button>Reserve</button></a>





</section>