<section id="laircheckout">
  <h1>Request to book</h1>
  <h3 id="roomName">{{name}}</h3>
  <img class="specificPic" src="{{imageUrl}}" alt="Room Image">
  <p>Posted by: {{owner.userName}}</p>
  <p>Description: {{description}}</p>
  <p id="checkoutprice">${{price}} night</p>
  <label for="number-of-nights">Select length of visit below:</label>
  <input type="number" id="number-of-nights" name="number-of-nights" min="1" required>
  
  <p id="number-of-nights-display"></p> 
  <p id="finalprice">Finalprice:</p></span>
  
  <br>
  <button type="submit" id="calculate-btn">Calculate</button>
  
  
   <button id="checkout-btn"  disabled>Checkout</button>

</section>
